.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
**.log
book-manager/logs/

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
classes/
.nb-gradle/
auth-manager/out/

gradle/
gradlew
gradlew.bat